html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.rrow input{
    border: 0;
    background: transparent;
}

.rrow input:focus,
.rrow input:active {
    outline: 0;
}

#left {
    flex-shrink: 0;
}

.top-left {
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    text-align: center;
}

.tablename{
    background: transparent;
    border: 0;
}

.tablename:focus,
.tablename:active {
    outline: none;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: space-evenly;
    background: #800080;
}

.top-right p {
    margin-top: 20px;
}

#additional-links {
    background-color: rgb(228, 228, 228);
}

ul {
    display: block;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px !important;
    padding-left: 0px !important;
}

ul li {
    padding-top: 1em;
    padding-bottom: 1em;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
    text-align: center;
}

.column#right {
    width: 100%;

}

.top-left img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.column#left {
    width: 13%;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-right: 1px solid #e0e0e0;
}

.top-right {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.column#left .bottom {
    margin-top: 10px;
}

.column#right .top-right p {
    color: white;
    margin-right: 20px;
    margin-left: 30px;
}


.dropdown,
.dropdown2 {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.contentdropdown,
.contentdropdown2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contentdropdown a,
.contentdropdown2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contentdropdown a:hover,
.contentdropdown2 a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .contentdropdown,
.dropdown2:hover .contentdropdown2 {
    display: block;
    cursor: pointer;
}

.run {
    cursor: pointer;
}

.textdropdown:hover,
.textdropdown2:hover {
    cursor: default;
}

.scroll {
    background: transparent;
    border: 0;
    resize: none;
    width: 90%;
    height: 95%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    scrollbar-width: none;
}

.bottom ul li:hover {
    background-color: lightgrey;
    transition: ease-in .2s;
    cursor: pointer;
}

.newadd {
    position: relative;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: white;
    background-color: purple;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.2s;
}

.tablewrap{
    margin-top: 25px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.newadd::-moz-focus-inner {
    border: none;
}

.newadd::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

.newadd::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    /* Safari */
    height: 32px;
    /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

.newadd:hover,
.newadd:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.newadd:hover::before {
    opacity: 0.08;
}

.newadd:focus::before {
    opacity: 0.24;
}

.newadd:hover:focus::before {
    opacity: 0.3;
}

.newadd:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.newadd:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}