body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  display: inline-block;
}

.menu-bar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 0.45em;
}

.pic {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  position: relative;
  left: 0;
}

img {
  max-width: 100%;
  height: 100%;
}

form.table-type{
  /* display: inline-block; */
  padding-left: 5px;
}

.menu-button {
  position: relative;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  font-size: 35px;
}

select {
  border: 0;
  font-size: 15px;
}

input::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

input:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

input:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

input::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:first-child {
  background-color: grey;
  box-shadow: 5px 10px black;
}

input {
  border-radius: 3px;
  border: solid 1px rgba(0,0,0,0.5);
  background: white;
  padding-left: 5px;
}

button {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #555555;
  color: white;
}
