/* ---- Header ---- */
header {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 0.75em;
}

body {
  background-color: #111410;
}

#leftPart button {
  border: 1px solid transparent;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.3s all ease-in;
}

#leftPart button:hover,
#centerPart button:hover {
  border-bottom: 1px solid white;
}

#leftPart .divider {
  display: inline-flex;
  padding-left: 0.5em;
}

#centerPart button {
  border: 1px solid transparent;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.3s all ease-in;
}

/* --- Body --- */

body {
  margin: 0px 0px 0px 0px;
}

div.titleButton {
  background-color: black;
  color: white;
  padding: 0.5em;
}

div.titleButton span {
  border: 1px solid transparent;
  padding: 0.5em;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

div.titleButton span:hover {
  border-bottom: 1px solid rgb(255, 0, 0);
}

footer{
  background: black;
  color: white;
  text-align: center;
}

textarea{
  width: 90%;
  height: 50vh;
  background: transparent;
  color:white;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  resize: none;
}
/* --- Media screen --- */

@media screen and (max-width: 414px) {

  #newButton,
  #saveButton {
    display: none;
  }
}
