/* 
red #F94F2F
green #6BAD93
light green #9FEBCD
*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
body{
    text-align: center;
    margin:auto;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f89111' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f0851a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e77921' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23dd6e25' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d36329' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c8592b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23bd502d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b1472e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a53e2e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2398362e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%238b2f2d' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%237e282b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23712229' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23641c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23571623' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%234a121f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%233d0d1b' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment:fixed;
    background-size: cover;
}
.left{
    position: absolute;
    left:0;
    top:0;
    width:55%;
    height:100%;
    text-align: left;
    color:#F94F2F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

.left .head{
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    position: relative;
    left: 2px;
    top:0;

}
.right{
    display:block;
    position:absolute;
    right:0;
    height:100%;
    width:45%;
    background:  #6BAD93;
    padding:0 0 0 0;
    border: none;
}
.right .head{
    display: none;
}
.right-upper
{
    top:240px;
    position: relative;
}
.right .quote{
    position: relative;
    display:block;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-style: italic;
}
.right .quote-name{
    color:white;
    display: block;
    position:absolute;
    right:88px;
    font-size: 15px;
    font-family: "Arial Black", Gadget, sans-serif;
}
.login-box{
    position:relative;
    top:300px;
    text-align: center;
    padding: 1em 0 1em 0;
    display:inline-block;
    width:300px;
}

.login-box label{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(0, 0, 0, 0.431);
}
.login-box .input-box
{
    position: relative;
    left:50%;
    transform: translate(-50%,0);

    display: block;
    border-radius: 3px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.575);
    padding:1em 0 1em 10px;
    margin: 10px;
    color:rgb(26, 25, 25);
    border-style:none;
    width: 90%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.login-box .login-btn
{
    top:20px;
    position: relative;
    border-style: none;
    color:white;
    font-family: "Verdana";
    font-weight: bold;
    width:60%;
    font-size:20px;
    padding-top:1em;
    padding-bottom: 1em;
    border-radius: 5px;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f89111' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f0851a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e77921' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23dd6e25' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d36329' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c8592b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23bd502d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b1472e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a53e2e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2398362e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%238b2f2d' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%237e282b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23712229' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23641c27' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23571623' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%234a121f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%233d0d1b' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment:fixed;
    background-size: cover;
}
.login-box .forgot-psw{
    text-decoration: none;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    top:30px;
    text-align: center;
    position: relative;
}
.login-box .login-btn:hover{
    color: #F94F2F;
    background-image:none;
    background-color:rgb(83, 1, 1);
}
@media screen and (max-width:666px){
    .left{
        display: none

    } 
    .right
    {
        width:100%;
        color:#F94F2F;
        background:rgba(128, 3, 177, 0);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;

        
    }
    .right-upper .quote,.quote-name{
        display:none;
    }
    .right-upper,.right .head
    {
        display:inline-block;
        position: relative;
        top:0px;
        padding-top: 1em;

    }

    .login-box
    {
        top:1px;
    }
    .login-box .login-btn
    {
        background-color: rgb(59, 2, 2);
        background-image: none;
    }

}