 @import url('https:://fonts.googleapis.com/css?family=Tangerine');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.beggining{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat 50% 0%;
    display:table;
    top:0;
    background-size: cover;
}
.beggining .inside{
    display: table-cell;
    vertical-align: middle;   
    width: 100%; 
    max-width: none;
}
.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family: 'Tangerine' , sans-serif;
    color:#ffffcc;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.btn {
    border:solid #0984e3 2px;
    border-radius:9px;
    font-family:"montserrat";
    color: #00b894;
    font-size:140%;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    border:solid 2px #00b894;
    color:#0984e3 ;
}
p{
    font-size: 140%;
    line-height: 200%;
    text-align:justify;
    margin:3%;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:800px){
    .content h1{
        font-size:200%;
    }
    .btn{
        font-size:100%;
        padding : 7px 13px;
    }
    p {
        font-size:100%;
        line-height: 150%;
    }
}
