 @import url('https:://fonts.googleapis.com/css?family=Tangerine');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.beggining{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat 50% 50%;    display:table;
    top:0;
    background-size: cover;
}
.beggining .inside{
    display: table-cell;
    vertical-align: middle;   
    width: 100%; 
    max-width: none;
}
.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family: 'Tangerine' , sans-serif;
    color:#18dcff;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.btn {
    border:solid #c56cf0 2px;
    border-radius:9px;
    font-family:"montserrat";
    color: #1B9CFC;
    font-size:140%;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
     border:solid 2px #1B9CFC;
    color:#c56cf0 ;
}
p{
    font-size: 140%;
    line-height: 200%;
    text-align:justify;
    margin:3%;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:800px){
    .content h1{
        font-size:200%;
    }
    .btn{
        font-size:100%;
        padding : 7px 13px;
    }
    p {
        font-size:100%;
        line-height: 150%;
    }
}
