/* ------------ Header part ------------*/

header {
    display: block;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

header span {
    font-size: 20px;
    padding: 0.5em;
}

#buttonMenu,
#runMenu,
#saveMenu {
    outline: none;
    background: none;
    outline: none;
    border: 1px solid white;
    padding: 1em;
    color: white;
    transition: 0.3s;
}

#buttonMenu:hover,
#runMenu:hover,
#saveMenu:hover {
    background: gray;
}

button.Menu {
    outline: none;
    background: none;
    outline: none;
    border: 1px solid white;
    padding: 1em;
    color: white;
    transition: 0.3s;
}

button:hover.Menu {
    background: gray;
}

.menu {
    position: absolute;
    background: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 200px;
    transform: translateX(-100%);
    transition: .3s;
}

.menu.openMenu {
    transform: translateX(0);
}

/* ------------- Body part ----------- */

.flex-container {
    display: flex;
    padding: 5px 5px;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-container>* {
    flex: 1;
    min-height: 50vh;
    margin: 0 5px;
}

.flex-wrapper :nth-child(2),
.flex-wrapper :nth-child(3) {
    margin-top: 5px;
}

.flex-wrapper :nth-child(3),
.flex-container>textarea {
    flex: 1;
}

.flex-wrapper>textarea {
    flex: 1;
}
